table,td, th{
 border: 1px solid rgb(0, 0, 0)

}

td,th{
    
    padding: 5px;
    border-radius: 0px;
}

table {

    background-color: rgb(76, 190, 166);
    border-spacing: 0px;
}



div{

background-color: rgb(71, 21, 21);
width: 190px;
height: 170px; 
padding: 20px;

}   

#Santiago{

    background-color: rgb(177, 0, 0);

}

#Santiago{

    color: blue;
    background-color: black;
}
